// Colors

$orange: #e45028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e35028;

// Normalaze.css

@import "_misc/normalize.scss";

// Layout setups

@import "_misc/mixins.scss";
@import "_misc/fonts.scss";
@import "_misc/layout.scss";

// Common

@import "blocks/common/fixed-menu.scss";

// Blocks

@import "blocks/hero.scss";
@import "blocks/best.scss";
// @import "blocks/team.scss";
@import "blocks/reviews.scss";
@import "blocks/order.scss";
