ul.section-reviews__list
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo
        img.review__image(src="./images/content/reviews/review-1.png", alt="Александра Горнова")
      .review__hover
        h2.review__title Александра Горнова
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          button.review__view(type="button") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo
        img.review__image(src="./images/content/reviews/review-2.png", alt="Константин Спилберг")
      .review__hover
        h2.review__title Константин Спилберг
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          button.review__view(type="button") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo
        img.review__image(src="./images/content/reviews/review-3.png", alt="Кристина Павлова")
      .review__hover
        h2.review__title Кристина Павлова
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          button.review__view(type="button") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo
        img.review__image(src="./images/content/reviews/review-4.png", alt="Иван Нарзов")
      .review__hover
        h2.review__title Иван Нарзов
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          button.review__view(type="button") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo
        img.review__image(src="./images/content/reviews/review-5.png", alt="Майк Анкридж")
      .review__hover
        h2.review__title Майк Анкридж
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          button.review__view(type="button") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo
        img.review__image(src="./images/content/reviews/review-6.png", alt="Ксения Аврелина")
      .review__hover
        h2.review__title Ксения Аврелина
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          button.review__view(type="button") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo
        img.review__image(src="./images/content/reviews/review-7.png", alt="Стивен Пилберг")
      .review__hover
        h2.review__title Стивен Пилберг
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          button.review__view(type="button") Подробнее
  li.section-reviews__item
    article.section-reviews__review.review
      figure.review__photo
        img.review__image(src="./images/content/reviews/review-8.png", alt="Джаред Винтер")
      .review__hover
        h2.review__title Джаред Винтер
        p.review__text Мысли все о них и о них, о них и о них. Нельзя устоять, невозможно забыть... Никогда не думал, что булочки могут быть такими мягкими, котлетка такой сочной, а сыр таким расплавленным.
        .review__button-wrap
          button.review__view(type="button") Подробнее
