.section-team__container
  .section-team__content
    h2.section__title Команда
    ul.section-team__list
      li.section-team__item
        button.section-team__btn(type="button") Дэниэл Рэдклифф
        .section-team__item-content
          figure.section-team__picture
            img.section-team__image(src="./images/content/accordeon/teammate.jpg", alt="Дэниэл Рэдклифф")
          article.section-team__text
            h3.section-team__item-title Шеф-повар
            p.section-team__text-content С радостью поможет подобрать идеальный бургер и оформить заказ.
      li.section-team__item
        button.section-team__btn(type="button") Ричард Джеймс
        .section-team__item-content
          figure.section-team__picture
            img.section-team__image(src="./images/content/accordeon/teammate.jpg", alt="Дэниэл Рэдклифф")
          article.section-team__text
            h3.section-team__item-title Оператор
            p.section-team__text-content С радостью поможет подобрать идеальный бургер и оформить заказ.
      li.section-team__item
        button.section-team__btn(type="button") Джейк Финн
        .section-team__item-content
          figure.section-team__picture
            img.section-team__image(src="./images/content/accordeon/teammate.jpg", alt="Дэниэл Рэдклифф")
          article.section-team__text
            h3.section-team__item-title Менеджер
            p.section-team__text-content С радостью поможет подобрать идеальный бургер и оформить заказ.
      li.section-team__item
        button.section-team__btn(type="button") Николай Иванов
        .section-team__item-content
          figure.section-team__picture
            img.section-team__image(src="./images/content/accordeon/teammate.jpg", alt="Дэниэл Рэдклифф")
          article.section-team__text
            h3.section-team__item-title Менеджер
            p.section-team__text-content С радостью поможет подобрать идеальный бургер и оформить заказ.
            