h2.section__title.section__title_black.section__title_center Как мы работаем
.section-howwork__player.player
  .player__wrapper
    #yt-player
    .player__splash
  .player__controls
    button.player__start(type="button")
    .player__playback
      button.player__playback-button(type="button")
    .player__volume-icon
    .player__volume-bar
      button.player__volume-button(type="button")