h2.section__title.section__title_black Мы лучшие
ul.section-we__list
  li.section-we__item
    figure.section-we__icon
      svg.section-we__icon-svg.section-we__icon-svg--meat(style="fill: #e25028")
        use(xlink:href='./images/sprite/icons.svg#meat', x=0, y=-854)
    article.section-we__description
      h3.section-we__title 100% свежее мясо
      .section-we__text.text-block
        p Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
  li.section-we__item
    figure.section-we__icon
      svg.section-we__icon-svg.section-we__icon-svg--hand(style="fill: #f8b43a")
        use(xlink:href='./images/sprite/icons.svg#hand', x=0, y=-397)
    article.section-we__description
      h3.section-we__title Ручная сборка
      .section-we__text.text-block
        p Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
  li.section-we__item
    figure.section-we__icon
      svg.section-we__icon-svg.section-we__icon-svg--natural(style="fill: #8ac03e")
        use(xlink:href='./images/sprite/icons.svg#natural', x=0, y=-943)
    article.section-we__description
      h3.section-we__title Натуральные ингредиенты
      .section-we__text.text-block
        p Драма представляет собой деструктивный цикл. Анапест представляет собой анапест. Ямб неравномерен.
