.yandex-map#map
footer.footer
  .container.footer__container
    .footer__column
      address.footer__address Санкт-Петербург, ул.Бабушкина, д.12/1, 15
      a.footer__phone(href="tel:+78123771377") 
        svg.footer__phone-svg
          use(xlink:href="./images/sprite/icons.svg#phone", x=0, y=-1019)
        span +7 (812) 377-13-77
    .footer__column.footer__column--right
      ul.footer__socials.socials
        li.socials__item
          a.socials__link(href="#")
            svg.socials__link-icon(style="fill: #fff")
              use(xlink:href="./images/sprite/icons.svg#vk", x=0, y=-1175, transform="scale(0.25)")
        li.socials__item
          a.socials__link(href="#")
            svg.socials__link-icon(style="fill: #fff")
              use(xlink:href="./images/sprite/icons.svg#fb", x=0, y=-360, transform="scale(0.55)")
        li.socials__item
          a.socials__link(href="#")
            svg.socials__link-icon(style="fill: #fff")
              use(xlink:href="./images/sprite/icons.svg#inst", x=0, y=-483, transform="scale(0.55)")
        li.socials__item
          a.socials__link(href="#")
            svg.socials__link-icon(style="fill: #fff")
              use(xlink:href="./images/sprite/icons.svg#twitter", x=0, y=-1144, transform="scale(0.65)")
              