.hamburger-button {
  position: relative;
  display: none;
  align-items: center;
  height: rem(22px);
  vertical-align: middle;
  margin-left: rem(30px);
}

.hamburger-button__bars {

  &,
  &:before,
  &:after {
    width: rem(24px);
    height: rem(5px);
    border-radius: rem(3px);
    background: #fff;
  }

  &:before,
  &:after {
    position: absolute;
    display: block;
    content: "";
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}