.pagepanel {
  position: fixed;
  top: 91px;
  right: 50px;
}

.pagepanel__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pagepanel__item {
  margin-bottom: 10px;
}

.pagepanel__button {
  position: relative;
  padding: 3px;
  border: none;
  border-radius: 50px;
  background: #ffffff;
  text-decoration: none;
  transition: all .3s ease;
}

.pagepanel__button:hover::after {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: ' ';
  cursor: pointer;
}

.pagepanel__button--active {
  position: relative;
}

.pagepanel__button--active::after {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: ' ';
}