.player {
  &.hidden {
    opacity: 0;
    transition: opacity .3s;
  }

  position: relative;
  display: inline-block;
}

.player__splash {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../images/background/player-splash.png') center center / cover no-repeat;
  content: "";
  cursor: pointer;
}

.player__wrapper {
  &.active .player__splash {
    display: none;
  }
}

.player__controls {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35px;
  background: #3e3e3e;
}

.player__start {
  &.paused {

    &:after,
    &:before {
      position: absolute;
      top: 0;
      bottom: 0;
      display: block;
      width: 5px;
      background: #626262;
      content: "";
    }

    &:after {
      right: 0;
    }

    &:before {
      left: 0;
    }

    width: 14px;
    height: 22px;
    border: none;
  }

  position: absolute;
  top: 5px;
  left: 20px;
  width: 0;
  height: 0;
  padding: 0;
  border: 11px solid transparent;
  background: transparent;
  outline: none;
  border-left-color: #626262;
  border-right-width: 0;
}

.player__playback,
.player__volume-bar {
  position: absolute;
  top: 15px;
  height: 4px;
  background: #626262;
}

.player__playback {
  left: 50px;
  width: 446px;
}

.player__volume-bar {
  left: 580px;
  width: 60px;
}

.player__volume-icon {
  position: absolute;
  top: 5px;
  left: 540px;
  width: 23px;
  height: 23px;
  background: url('../images/icon/Volum_gray.png') no-repeat;
  background-size: contain;
}

.player__playback-button,
.player__volume-button {
  position: absolute;
  top: -4px;
  left: 0;
  width: 12px;
  height: 12px;
  padding: 0;
  border: none;
  border-radius: 50px;
  background: #626262;
  transform: translateX(-50%);
}