// Colors value

$tomato:#e45028;
$dark-tomato:#c1401e;
$orange:#f9b43b;
$dark-gray:#2f3234;
$light-gray:#82807f;
$white:#ffffff;

// Functional variables

$primary-text-color:$white;
$secondary-text-color:$dark-gray;
$buttons-color:$tomato;
$buttons-hover:$dark-tomato;
$title-color:$orange;

// Width device

$tablets:768px;
$phones:480px;
$phones-xs:320px;