.nav-modal {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(50, 50, 50);
    padding: rem(30px);

    @include tablets {
        padding: rem(20px);
    }
}

.nav-modal__close {
    position: absolute;
    top: rem(40px);
    right: rem(40px);

    @include tablets {
        top: rem(30px);
        right: rem(30px);
    }
}

.nav-modal__close:after {
    content: '';
    display: block;
    width: rem(20px);
    height: rem(20px);
    background: url(../img/menu/rectangle.png) center center no-repeat;
}

.nav-modal__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(170px);

    @include tablets {
        margin-top: rem(70px);
    }
}

.nav-modal__item:not(:last-child) {
    position: relative;
    margin-bottom: rem(60px);

    @include phones-xs {
        margin-bottom: rem(25px);
    }

    &:after {
        content: "⦁";
        position: absolute;
        bottom: rem(-40px);
        left: 50%;
        color: $primary-text-color;

        @include phones-xs {
            bottom: rem(-25px);
        }
    }
}

.nav-modal__link {
    color: $primary-text-color;
    font-size: rem(26px);
    text-transform: uppercase;

    @include phones-xs {
        font-size: rem(18px);
    }
}