.icon {
    font-size: 10px;
}

.icon:before {
    content: ' ';
    vertical-align: middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 4.8em 22.1em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}

.icon.buns:before {
    background-position: 0em 0em;
    width: 4.8em;
    height: 3em;
}

.icon.cheese:before {
    background-position: 0em -3em;
    width: 3.9em;
    height: 3.4em;
}

.icon.cow:before {
    background-position: 0em -6.4em;
    width: 4.4em;
    height: 3.9em;
}

.icon.cucumber:before {
    background-position: 0em -10.3em;
    width: 4.3em;
    height: 3.7em;
}

.icon.salad:before {
    background-position: 0em -14em;
    width: 3.8em;
    height: 3.8em;
}

.icon.sauce:before {
    background-position: 0em -17.8em;
    width: 4.1em;
    height: 4.3em;
}