.best {
    background: url(../img/about-us/bg-img.jpg) center center / cover no-repeat;
}

.container__best {
    justify-content: center;

    @include phones {
        padding: rem(40px) 0;
    }
}

.best__title {
    text-align: center;
    margin-bottom: rem(45px);

    @include phones {
        font-size: 50px;
        margin-bottom: rem(20px);
    }

    @include phones-xs {
        font-size: 30px;
        margin-bottom: rem(10px);
    }
}

.best__wrap {
    display: flex;
    justify-content: center;

    @include phones {
        flex-direction: column;
    }
}

.best__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;

    &:not(:last-child) {
        margin-right: rem(37px);

        @include phones {
            margin-right: 0;
        }
    }

    @include phones {
        flex-direction: row;
        align-items: flex-start;
    }
}

.content__img {
    width: rem(100px);
    height: rem(90px);
    margin-bottom: rem(25px);

    @include phones {
        flex: none;
        width: rem(105px);
        height: rem(90px);
        margin-bottom: 0;
        margin-right: 25px;
    }

    @include phones-xs {
        width: rem(70px);
        height: rem(60px);
        margin-right: 20px;
    }
}

.content__desc {

    @include phones {
        text-align: left;
        margin-bottom: 50px;
    }
}

.content__pic {
    max-width: 100%;
    max-height: 100%;
}

.content__title {
    color: $secondary-text-color;
    font: 500 24px/28px Lifehack;
    letter-spacing: -0.6px;
    margin-bottom: rem(10px);

    @include phones-xs {
        font-size: 18px;
        line-height: 18px;
    }
}

.content__text {
    color: $secondary-text-color;
    opacity: 0.8;

    @include phones {
        line-height: 18px;
    }

    @include phones-xs {
        line-height: 16px;
    }
}