.menu {
    background: url(../img/menu/menu-bg.jpg) center center / cover no-repeat;
    color: $primary-text-color;

    .menu__item.is-activ {}

    .menu__item.is-activ .menu__item-text {
        width: rem(540px);


    }

    .menu__item.is-activ .menu__link-title {
        color: $title-color;
    }
}

.menu__title {
    margin: rem(110px) 0 0 rem(90px);
}

.menu__list {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
}

.menu__item {
    display: flex;
    position: relative;
    height: 100%;
}

.menu__link {
    display: flex;
    align-items: flex-end;
    width: rem(80px);
    height: 100%;

    &-meat {
        background: url(../img/menu/accordion-meat.jpg) center center / cover no-repeat;
    }

    &-vegan {
        background: url(../img/menu/accordion-vegan.jpg) right center / cover no-repeat;
    }

    &-diet {
        background: url(../img/menu/accordion-diet.jpg) right center / cover no-repeat;
    }

    @include phones {
        width: rem(60px);
    }

    @include phones-xs {
        width: rem(40px);
    }
}

.menu__link-title {
    white-space: nowrap;
    transform: rotate(-90deg);
    transform-origin: 0 0;
    font-size: 40px;
    color: $primary-text-color;

    @include phones {
        font-size: 28px;
        line-height: 60px;
    }

    @include phones-xs {
        font-size: 24px;
        line-height: 40px;
    }
}

.menu__item-text {
    width: 0;
    overflow: hidden;
    position: relative;
    background-color: rgba(47, 50, 52, .9);
    font: 300 14px/24px Ubuntu;

    &:after {
        display: none;
        content: '';
        width: rem(20px);
        height: rem(20px);
        position: absolute;
        top: rem(40px);
        right: rem(20px);
        background: url(../img/menu/rectangle.png) center center no-repeat;

        @include tablets {
            display: block;
        }
    }

    p {
        margin: rem(60px) 0 0 rem(40px);
    }
}