.order {
    background: url(../img/order/bg-texture.jpg) center center / cover no-repeat;
}

.order__conteiner {
    justify-content: center;

    @include tablets {
        align-items: center;
    }

    @include phones {
        padding-bottom: 40px;
    }
}

.form {
    display: flex;
    font: 300 14px/24px Ubuntu;
    color: $primary-text-color;

    @include tablets {
        flex-direction: column;
        max-width: 490px;
    }
}

.order__title {
    color: $title-color;
    text-align: center;
    margin-bottom: rem(40px);

    @include phones {
        font-size: 50px;
        margin-bottom: rem(40px);
        line-height: 60px;
    }

    @include phones {
        font-size: 40px;
        margin-bottom: rem(20px);
        line-height: 50px;
    }
}

.form__column {
    flex: 1;
    margin-right: rem(20px);

    @include tablets {
        margin-right: 0;
    }
}

.form__column:last-child {
    margin-right: 0;
}

.form__row {
    display: flex;

    @include phones {
        justify-content: center;
    }
}

.form__block {
    flex: 1;
    margin-bottom: rem(15px);

    @include phones-xs {
        margin-bottom: rem(5px);
    }
}

.form__block:not(:last-child) {
    margin-right: rem(15px);

    @include phones-xs {
        margin-right: rem(10px);
    }
}

.form__title {
    margin-bottom: rem(5px);
}

// --------------- // input-text  //---------------//
.form__input {
    width: 100%;
    padding: rem(10px) rem(20px);
    border-radius: rem(5px);
    outline: none;
    border: rem(2px) solid transparent;
}

.form__input:focus,
.form__area:focus {
    border-color: $title-color;
}

// --------------- // area  //---------------//
.form__area {
    width: 100%;
    height: rem(120px);
    border-radius: rem(5px);
    outline: none;
    resize: none;
    border: rem(2px) solid transparent;
    padding: rem(10px) rem(20px);
}

// --------------- // radio  //---------------//
.form__block-radio {
    flex: none;
}

.form__radio {
    display: none;
}

.radio__title {
    position: relative;
    margin-left: rem(25px);
    cursor: pointer;
}

.radio__title:before,
.radio__title:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: rem(-25px);
    top: rem(5px);
    width: rem(15px);
    height: rem(15px);
    border-radius: 50%;
    background-color: #fff;
    transition: .3s;
}

.radio__title:after {
    left: rem(-21px);
    top: rem(9px);
    width: rem(7px);
    height: rem(7px);
}

.form__radio:checked+.radio__title:after {
    background-color: $buttons-color;
}

// --------------- // checkbox  //---------------//
.form__сheckbox {
    display: none;
}

.сheckbox__title {
    position: relative;
    margin-left: rem(25px);
    cursor: pointer;

    @include phones {
        max-width: rem(125px);
        margin: 0 auto;
    }

    @include phones-xs {
        margin-bottom: 10px;
    }
}

.сheckbox__title:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: rem(-25px);
    top: rem(5px);
    width: rem(15px);
    height: rem(15px);
    background: url(../img/order/check.png) center center no-repeat #fff;
    transition: .3s;
}

.form__сheckbox:checked+.сheckbox__title:before {
    background-image: none;
}