.team {
    background: url(../img/team/team-bg.jpg) center center / cover no-repeat;
}

.our-team {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: rgba(47, 50, 52, .93);
    padding: rem(100px) rem(100px);
    color: $primary-text-color;

    @include tablets {
        width: 100%;
        text-align: center;
    }

    @include phones {
        padding: rem(100px) rem(30px);
    }

    @include phones-xs {
        padding: rem(50px) rem(20px);
    }
}

.team__title {
    color: $title-color;
    margin-bottom: rem(50px);

    @include phones {
        margin-bottom: rem(25px);
    }

    @include phones-xs {
        font-size: 40px;
        margin-bottom: rem(20px);
    }
}

.team__item {
    margin-bottom: rem(35px);

    @include phones {
        margin-bottom: rem(15px);
    }
}

.team__item-title {
    font: 400 24px/28px Gagalin;
    margin-bottom: rem(10px);
    cursor: pointer;

    &:before {

        content: "";
        display: inline-block;
        width: rem(9px);
        height: rem(6px);
        background: url(../img/team/polygon.png) center bottom no-repeat;
        margin-right: rem(10px);
    }

    @include phones-xs {
        font-size: 18px;
    }
}

.team__list .is-activ {

    .team__item-wrapper {
        height: rem(120px);

        @include tablets {
            height: rem(220px);
        }
    }

    .team__item-title {
        color: $title-color;

        &:before {
            background-position: center top;
        }
    }
}

.team__item-wrapper {
    display: flex;
    height: 0;
    overflow: hidden;
    margin: rem(10px) 0 0 rem(20px);

    @include tablets {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}

.team__item-photo {
    width: rem(100px);
    height: rem(100px);
    overflow: hidden;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex: none;
    margin-right: rem(20px);

    @include tablets {
        margin-right: 0;
    }
}

.team__item-desc {
    max-width: rem(220px);

    span {
        font-weight: 700;
        line-height: rem(14px);
    }

    p {
        line-height: rem(24px);
    }
}