.order {
  background: url(../img/bg/order.jpg) center center no-repeat;
  background-size: cover;
}

.form {
  color: #ffffff;
}

.form__row {
  display: flex;
  margin-bottom: 15px;
}

.form__block {
  flex: 1;
  margin-right: 20px;
}

.form__input {
  border: none;
  padding: 5px 20px;
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
}
